<?xml version='1.0' encoding='UTF-8' ?>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content">
                <div class="col-md-12 padding-0">
                    <h3>Configurazione Categorie</h3> 
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-12 fab-button">
                                        <h:link 
                                            outcome="dettaglioCategoria" 
                                            styleClass="btn btn-success btn-circle btn-lg">
                                            <i class="fa fa-plus" ></i>
                                            <f:param name="id" value="0" />
                                        </h:link>
                                    </div>

                                    <p:dataTable value="#{categorieService.elencoCategorie}" 
                                                 var="categoria" 
                                                 id="myTable"
                                                 tableStyleClass="table table-striped tablesorter">
                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Icona</f:facet>
                                            <h:panelGrid rendered="#{!(categoria.icona == null)}">
                                                <p:graphicImage height="50" width="50" value="/appcontent/immagini/#{categoria.getIcona()}" />
                                            </h:panelGrid>
                                        </p:column>
                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">#</f:facet>
                                            <!-- row record -->
                                            #{categoria.id}
                                        </p:column>

                                        <p:column styleClass="col-testo-lungo">
                                            <f:facet name="header">Nome</f:facet>
                                                #{categoria.nome}
                                        </p:column>
                                        <p:column styleClass="col-button">
                                            <h:form>
                                                <h:link 
                                                    outcome="dettaglio_categoria.xhtml" 
                                                    value="DETTAGLI" 
                                                    styleClass="btn btn-primary m-2">
                                                    <f:param name="id" value="#{categoria.id}" />
                                                </h:link>
                                                <h:commandLink  
                                                    value="ELIMINA"
                                                    styleClass="btn btn-danger m-2"
                                                    onclick="return confirm('Sei sicuro di voler cancellare la categoria #{categoria.nome}?')"
                                                    actionListener="#{categorieService.delete(categoria)}" >

                                                </h:commandLink>
                                            </h:form>
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
        <script>$('.ui-paginator').wrapInner('<div class="wrapPaginator" />');</script>
    </h:body>
</html>
