/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 100px;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #312f32;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: fixed;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 30px 0 60px
}

.sidebar-nav li {
    line-height: 50px;
    padding: 0 20px;
}

.sidebar-nav li.subitem{
    padding:0;
    margin-bottom:50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    border-bottom: 2px solid #5a595b;
    margin-top:-2px;
}

.sidebar-nav li:hover {
    text-decoration: none;
    color: #fff;
    background: #5a595b;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper .sidebar-nav li.subitem a:hover{
    background-color: #5a595b;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper .list-group-item{
    background-color:#464347;
    border:none;
    padding: 0 30px;
}
#sidebar-wrapper .list-group-item:first-child,
#sidebar-wrapper .list-group-item:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.sidebar-nav .fa{
    width: 35px;
    text-align: center;
}

@media(min-width:1025px) {
    #wrapper {
        padding-left: 250px;
        -webkit-transition: none;
        transition: none;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        -webkit-transition: none;
        transition: none;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .navbar-toggle {
    display: none;
    }
}
@media(max-width:460px) {
    .sidebar-nav {
        padding: 30px 0 80px
    }
}
