<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content" >
                <h:form enctype="multipart/form-data">
                    <div class="col-md-12 padding-0">   
                        <h2>ESERCENTE</h2>
                         <h:messages id="messages" showDetail="false"  styleClass="text-danger" />
                        <br></br>
                        <h4>DOCUMENTO</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <p:fileUpload value="#{esercentiService.file}"  mode="simple"></p:fileUpload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br></br>
                        <h4>DATI DI BASE</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                   
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Nome (*)" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.nome}"
                                                required="true"
                                                requiredMessage="Inserire il nome esercente "
                                                id="nome"  
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Data contratto(gg-mm-yyyy) (*)" />
                                            <h:inputText
                                                
                                                required="true"
                                                requiredMessage="Inserire la data di contratto"
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.dataContratto}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Identificativo Beacon(*)" />
                                            <h:inputText
                                                required="true"
                                                requiredMessage="Inserire l'id del beacon"
                                                value="#{esercentiService.esercenteSelezionato.beaconUUID}"
                                                styleClass="form-control" 
                                                a:placeholder="Identificativo Beacon">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Categoria: " />
                                            <h:selectOneMenu value="#{esercentiService.esercenteSelezionato.categoria.id}" styleClass="selectpicker">
                                                <f:selectItems   
                                                    value="#{categorieService.loadCategorie()}" 
                                                    var="categoria" 
                                                    itemLabel="#{categoria.nome}" 
                                                    itemValue="#{categoria.id}" />
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Contratto: " />
                                            <h:selectOneMenu value="#{esercentiService.esercenteSelezionato.contratto.id}" styleClass="selectpicker">
                                                <f:selectItems   
                                                    value="#{contrattiService.loadContratti()}" 
                                                    var="contratto" 
                                                    itemLabel="#{contratto.nome}" 
                                                    itemValue="#{contratto.id}" />
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br></br>
                        <h4>CONTATTI</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-7 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Email (*)" />
                                            <h:inputText 
                                                required="true"
                                                requiredMessage="Inserire l'email"
                                                value="#{esercentiService.esercenteSelezionato.email}"
                                                styleClass="form-control" 
                                                a:placeholder="Email">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Pec" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.pec}"
                                                styleClass="form-control" 
                                                a:placeholder="Pec">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Telefono" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.telefono}"
                                                styleClass="form-control" 
                                                a:placeholder="Telefono">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br></br>
                        <h4>DATI DI FATTURAZIONE</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Ragione sociale(*)" />
                                            <h:inputText 
                                                required="true"
                                                requiredMessage="Inserire la ragione sociale"
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.ragioneSociale}"
                                                styleClass="form-control" 
                                                a:placeholder="Ragione sociale">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Sede legale(*)" />
                                            <h:inputText 
                                                required="true"
                                                requiredMessage="Inserire la sede legale"
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.sedeLegale}"
                                                styleClass="form-control" 
                                                a:placeholder="Sede legale">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Partita iva(*)" />
                                            <h:inputText 
                                                required="true"
                                                requiredMessage="Inserire la partita iva"
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.partitaIva}"
                                                styleClass="form-control" 
                                                a:placeholder="Partita iva">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Codice fiscale" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.codiceFiscale}"
                                                styleClass="form-control" 
                                                a:placeholder="Codice fiscale">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-12 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Iban" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.datiFatturazione.iban}"
                                                styleClass="form-control" 
                                                a:placeholder="Iban">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <h4>DATI APP</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="ID Facebook(*)" />
                                            <h:inputText 
                                                required="true"
                                                requiredMessage="Inserire l'id Facebook"
                                                value="#{esercentiService.esercenteSelezionato.idFacebook}"
                                                styleClass="form-control" 
                                                a:placeholder="ID Facebook">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="ID Instagram" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.idInstagram}"
                                                styleClass="form-control" 
                                                a:placeholder="ID Instagram">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-8 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Indirizzo" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.indirizzo}"
                                                styleClass="form-control" 
                                                a:placeholder="Indirizzo">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Latitudine" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.latitudine}"
                                                styleClass="form-control" 
                                                a:placeholder="Sede legale">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-6 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Longitudine" />
                                            <h:inputText 
                                                value="#{esercentiService.esercenteSelezionato.longitudine}"
                                                styleClass="form-control" 
                                                a:placeholder="Sede legale">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    

                                    <div class="col-md-12 text-right">
                                        <h:commandButton 
                                            value="SALVA" 
                                            action="#{esercentiService.createOrUpdateIfExist()}" 
                                            styleClass="btn btn-primary m-2" >
                                        </h:commandButton>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
