<?xml version='1.0' encoding='UTF-8' ?>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content">
                <div class="col-md-12 padding-0">
                    <h3>Configurazione Esercenti</h3> 
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-12 fab-button">
                                        <h:link 
                                            outcome="dettaglioEsercente" 
                                            styleClass="btn btn-success btn-circle btn-lg">
                                            <i class="fa fa-plus" ></i>
                                            <f:param name="id" value="0" />
                                        </h:link>
                                    </div>

                                    <p:dataTable value="#{esercentiService.elencoEsercenti}" 
                                                 var="esercente" 
                                                 id="myTable"
                                                 tableStyleClass="table table-striped tablesorter">
                                        <p:column styleClass="col-testo-breve text-center">
                                            <f:facet name="header">Cod. cliente</f:facet>
                                                #{esercente.id}
                                        </p:column>
                                        <p:column styleClass="col-testo-breve text-center">
                                            <f:facet name="header">Nome</f:facet>
                                                #{esercente.nome}
                                        </p:column>
                                        <p:column styleClass="col-testo-breve text-center">
                                            <f:facet name="header">Backend</f:facet>
                                            <h:outputText value="#{esercente.getStatoBackendHtml()}" escape="false"/>
                                        </p:column>
                                        <p:column styleClass="col-testo-breve text-center">
                                            <f:facet name="header">App</f:facet>
                                                <h:outputText value="#{esercente.getStatoAppHtml()}" escape="false"/>
                                        </p:column>
                                        <p:column styleClass="col-testo-breve text-center">
                                            <f:facet name="header">Beacon Associato</f:facet>
                                                <h:outputText value="#{esercente.getStatoBeaconHtml()}" escape="false"/>
                                        </p:column>
                                        <p:column styleClass="col-button text-center">
                                            <f:facet name="header">Azioni</f:facet>
                                            <h:form>
                                                <h:panelGroup rendered="#{esercente.statoBackend == 0}">
                                                    <h:commandButton 
                                                        value="ABILITA BACKEND" 
                                                        action="#{esercentiService.abilitaBackend(esercente)}" 
                                                        styleClass="btn btn-primary m-2" >
                                                    </h:commandButton>
                                                </h:panelGroup>
                                                <h:panelGroup rendered="#{esercente.statoBackend > 0}">
                                                    <h:commandButton 
                                                        value="DISABILITA BACKEND" 
                                                        action="#{esercentiService.disabilitaBackend(esercente)}" 
                                                        styleClass="btn btn-primary m-2" >
                                                    </h:commandButton>
                                                </h:panelGroup>
                                                <h:panelGroup rendered="#{esercente.statoApp != 1}">
                                                    <h:commandButton 
                                                        value="ABILITA APP" 
                                                        action="#{esercentiService.abilitaApp(esercente)}" 
                                                        styleClass="btn btn-primary m-2" >
                                                    </h:commandButton>
                                                </h:panelGroup>
                                                <h:panelGroup rendered="#{esercente.statoApp != 0}">
                                                    <h:commandButton 
                                                        value="DISABILITA APP" 
                                                        action="#{esercentiService.disabilitaApp(esercente)}" 
                                                        styleClass="btn btn-primary m-2" >
                                                    </h:commandButton>
                                                </h:panelGroup>
                                            </h:form>
                                        </p:column>
                                        <p:column styleClass="col-button">
                                            <h:form>
                                                <h:link 
                                                    outcome="dettaglio_esercente.xhtml" 
                                                    styleClass="btn btn-info btn-small" >
                                                    <i class="fa fa-pencil" ></i>
                                                    <f:param name="id" value="#{esercente.id}" />
                                                </h:link>
                                                <h:commandLink  
                                                    styleClass="btn btn-danger m-2"
                                                    onclick="return confirm('Sei sicuro di voler cancellare l esercente #{esercente.nome}?')"
                                                    actionListener="#{esercentiService.delete(esercente)}" >
                                                    <i class="fa fa-trash" ></i>

                                                </h:commandLink>
                                            </h:form>
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
        <script>$('.ui-paginator').wrapInner('<div class="wrapPaginator" />');</script>
    </h:body>
</html>
