<?xml version='1.0' encoding='UTF-8' ?>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content">
                <div class="col-md-12 padding-0">
                    <h3>Configurazione Tipi Registrazione</h3> 
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-12 fab-button">
                                        <h:link 
                                            outcome="dettaglioTipoRegistrazione" 
                                            styleClass="btn btn-success btn-circle btn-lg">
                                            <i class="fa fa-plus" ></i>
                                            <f:param name="id" value="0" />
                                        </h:link>
                                    </div>

                                    <p:dataTable value="#{tipoRegistrazioneService.elencoTipiRegistrazione}" 
                                                 var="tipoRegistrazione" 
                                                 id="myTable"
                                                 tableStyleClass="table table-striped tablesorter">

                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">#</f:facet>
                                            <!-- row record -->
                                            #{tipoRegistrazione.id}
                                        </p:column>
                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Nome</f:facet>
                                                #{tipoRegistrazione.name}
                                        </p:column>
                                         <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Totale</f:facet>
                                                #{tipoRegistrazione.totale}
                                        </p:column>
                                        <p:column styleClass="col-button">
                                            <h:form>
                                                <h:link 
                                                    outcome="dettaglio_tipo_registrazione.xhtml" 
                                                    value="MODIFICA" 
                                                    styleClass="btn btn-primary m-2">
                                                    <f:param name="id" value="#{tipoRegistrazione.id}" />
                                                </h:link>
                                                <h:commandLink  
                                                    value="ELIMINA"
                                                    styleClass="btn btn-danger m-2"
                                                    action="#{tipoRegistrazioneService.delete(tipoRegistrazione)}" >
                                                </h:commandLink>
                                                <h:commandLink  
                                                    value="ESPORTA"
                                                    styleClass="btn btn-danger m-2"
                                                    action="#{tipoRegistrazioneService.esportaContatti(tipoRegistrazione)}" >
                                                </h:commandLink>
                                            </h:form>
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
        <script>$('.ui-paginator').wrapInner('<div class="wrapPaginator" />');</script>
    </h:body>
</html>
