<?xml version='1.0' encoding='UTF-8' ?>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content">
                <div class="col-md-12 padding-0">
                    <h3>Elenco email utenti</h3> 
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-12 fab-button">
                                        <h:link 
                                            outcome="dettaglioEmailUtente" 
                                            styleClass="btn btn-success btn-circle btn-lg">
                                            <i class="fa fa-plus" ></i>
                                            <f:param name="id" value="0" />
                                        </h:link>
                                    </div>

                                    <p:dataTable value="#{emailUtenteService.elencoEmailUtenti}" 
                                                 var="emailUtente" 
                                                 rows="20"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 paginator="true"
                                                 id="myTable"
                                                 tableStyleClass="table table-striped tablesorter">

                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Nome</f:facet>
                                            <!-- row record -->
                                            #{emailUtente.name}
                                        </p:column>
                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Email</f:facet>
                                                #{emailUtente.email}
                                        </p:column>
                                        
                                        <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Data registrazione</f:facet>
                                                #{Costanti.getDataTimeDisplay(emailUtente.registeredAt)}
                                        </p:column>
                                        
                                         <p:column styleClass="col-testo-breve">
                                            <f:facet name="header">Tipo registrazione</f:facet>
                                                #{emailUtente.registrationTypeString}
                                        </p:column>
                                        <p:column styleClass="col-button">
                                            <h:form>
                                                <h:link 
                                                    outcome="dettaglio_email_utente.xhtml" 
                                                    value="DETTAGLI" 
                                                    styleClass="btn btn-primary m-2">
                                                    <f:param name="id" value="#{emailUtente.id}" />
                                                </h:link>
                                                <h:commandLink  
                                                    value="ELIMINA"
                                                    styleClass="btn btn-danger m-2"
                                                    action="#{emailUtenteService.delete(emailUtente)}" >
                                                </h:commandLink>
                                            </h:form>
                                        </p:column>

                                    </p:dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
        <script>$('.ui-paginator').wrapInner('<div class="wrapPaginator" />');</script>
    </h:body>
</html>
