<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="../template/template.xhtml">
            <ui:define name="content" >
                <h:form>
                    <div class="col-md-12 padding-0" id="myPanel">   
                        <h2>CONTRATTO</h2>
                        <h:messages id="messages" showDetail="true"  styleClass="text-danger" />

                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Nome" />
                                            <h:inputText 
                                                value="#{contrattiService.contratto.nome}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>OFFERTA DI BENVENUTO</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Sconto minimo (%)" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.offertaScontoMinimo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Selfie coin erogati" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.offertaSelfieCoin}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>SCONTO SU SCONTRINO</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Sconto su scontrino minimo(%)" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.scontoScontrinoMinimo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Riduzione sconto senza link(%)" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.scontoScontrinoRiduzioneNoLink}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Sconto scontrino durata (gg)" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.scontroScontrinoValidita}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>SELFIE COIN</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-5 m-b-20">
                                            <div class="form-group">
                                                <h:outputLabel value="Selfie coin per selfie(sconto scontrino e generici)" />
                                                <h:inputText
                                                    value="#{contrattiService.contratto.selfieCoin}"
                                                    styleClass="form-control" 
                                                    a:placeholder="Nome">
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-5 m-b-20">
                                            <div class="form-group">
                                                <h:outputLabel value="Riduzione selfie coin senza link (%)" />
                                                <h:inputText
                                                    value="#{contrattiService.contratto.selfieCoinRiduzioneNoLink}"
                                                    styleClass="form-control" 
                                                    a:placeholder="Nome">
                                                </h:inputText>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>WORD OF MOUTH</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Ore validita azione wom" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.womValidita}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Selfie coin per utente A " />
                                            <h:inputText
                                                value="#{contrattiService.contratto.womSelfieCoinUtenteA}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Selfie coin per utente B" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.womSelfieCoinUtenteB}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        
                        <h4>PROVVIGIONI</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Provvigione offerta" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.provvigioneOfferta}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Provvigione selfie" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.provvigioneSelfie}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-4 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Provvigione azione wom" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.provvigioneWom}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        
                        <h4>PROMO</h4>
                        <div class="col-md-12">
                            <div class="panel padding">
                                <div class="row">
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Numero offerte promo" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.numeroOffertePromo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Numero selfie promo" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.numeroSelfiePromo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>

                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Provvigione offerta promo" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.provvigioneOffertaPromo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-5 m-b-20">
                                        <div class="form-group">
                                            <h:outputLabel value="Provvigione selfie promo" />
                                            <h:inputText
                                                value="#{contrattiService.contratto.provvigioneSelfiePromo}"
                                                styleClass="form-control" 
                                                a:placeholder="Nome">
                                            </h:inputText>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <h:commandButton 
                                value="SALVA" 
                                action="#{contrattiService.createOrUpdateIfExist()}" 
                                styleClass="btn btn-primary m-2" >
                            </h:commandButton>
                        </div>

                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
