<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:head>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
        <h:outputStylesheet library="css" name="bootstrap.css"  />
        <h:outputStylesheet library="css" name="bootstrap-select.css"  />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'></link>
        <h:outputStylesheet library="css" name="custom.css"  />
        <title>JustSelfie</title>
    </h:head>

    <h:body styleClass="main-gradient">
        <div class="container">
            <div id="login_form">
                <h:form styleClass="login-form">

                    <div class="panel padding">
                        <img class="logo-login" src="resources/img/logo_1.png" alt="Multa Logo" />
                        <h:messages id="messages" showDetail="true"  styleClass="text-danger" />

                        <h:outputLabel value="Username: " styleClass="sr-only"/>
                        <h:inputText id="username" value="#{administrator.username}" styleClass="form-control" a:placeholder="Username"/>
                        <br/>
                        <h:outputLabel  value="Password: " styleClass="sr-only"/>
                        <h:inputSecret id="password" value="#{administrator.password}" styleClass="form-control" a:placeholder="Password"/>
                        <br/>
                        <div class="g-recaptcha" 
                             data-sitekey="6LcfJCUTAAAAABoNT0C51Ge1CYN-92DSd5Bp2TY5">

                        </div>
                        <br/>
                        <h:commandButton value="LOGIN" action="#{administrator.doLogin()}" styleClass="btn btn-primary"/>
                    </div>
                </h:form>
            </div>
        </div>
        <h:outputScript library="js" name="jquery.js"/>
        <h:outputScript library="js" name="bootstrap.min.js" />
        <h:outputScript library="js" name="bootstrap-select.min.js" />
        <br />
    </h:body>

</html>
